<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profiler | Admin</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<section id="section-1" class="text-center">
    <img id="img-logo-2" class="img-fluid" src="{{ url_for('static', filename='images/2-tr.png') }}" alt="logo">
</section>
<section id="section-3">
    <h4>Step 2: Add Student Behaviour</h4>
    <br>
    <div class="row">
        <!-- VISUAL -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5><span id="card-title-v" class="card-title badge rounded-pill">Visual</span></h5>
                    <form class="was-validated" novalidate>
                        <div class="mb-3">
                            <label for="videoInput-v" class="form-label">Student Video</label>
                            <input type="file" class="form-control" aria-label="file example" id="videoInput-v" required
                                   accept="video/mp4">
                            <div class="invalid-feedback">Please provide a valid video file (.mp4).
                            </div>
                        </div>
                    </form>
                    <!-- Video Uploaded Successfully -->
                    <div id="video-upload-success-text-v">
                        <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        <h6 style="display: inline-block; margin-left: 5px;">Video Uploaded!</h6>
                    </div>
                    <!-- Emotion Detection -->
                    <div id="emotion-detection-success-text-v">
                        <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        <h6 style="display: inline-block; margin-left: 5px;">Emotion Detection Successful!</h6>
                    </div>
                    <div id="emotion-values-generated-text-v">
                        <i class="bi bi-check-circle-fill" style="color: green;"></i>
                        <h6 style="display: inline-block; margin-left: 5px;">Emotional Values Generated!</h6>
                    </div>
                    <!-- SPINNER -->
                    <div id="btn-add-behaviour-spinner">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <h6 id="spinner-text" style="display: inline-block; margin-left: 5px;">Processing...</h6>
                    </div>
                    <br>
                    <!-- Display Analysis Process -->
                    <img id="video-process-frame-v" alt="Emotion Detection V" style="display: none;"
                         src="https://fakeimg.pl/600x400?text=loading+...">
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
<section id="section-4" class="text-center">
    <button id="btn-add-behaviour" class="btn btn-dark" type="button">Add Behaviour</button>
    <br>
    <div id="section4-alert" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Student Behaviour Added!</h4>
        <p>You have successfully added the student behaviour to the teacher's profile. Please make sure to add all the
            student behaviours before going to the next step.</p>
    </div>
    <div id="section4-alert" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p> There was an error adding the student behaviour to the teacher's profile. Please try again.</p>
        <hr>
        <p class="mb-0">If the error persists, please contact the administrator.</p>
    </div>
</section>
<script src="
            {{ url_for('static', filename='video.js') }}"></script>
</body>
</html>